page-register {
    .item-md ion-avatar ion-img, .item-md ion-avatar img{
        width: 130px !important;
        height: 120px !important;
    }

    .fixed-content{
        margin-top: 190px !important;
    }

    .scroll-content{
        margin-top: 190px !important;
        padding-top: 0px !important;
    }
    
    .button-md{
        z-index:10 !important;
    }

    ion-navbar{
        z-index: 1000;
        position: absolute;
        visibility: visible;
    }

    button{
        color: white !important;
    }

    #ultimo{
        margin-bottom: 30px !important;
    }

    .toolbar-background.toolbar-background-md{
        background-color: transparent !important;
    }

    .toolbar-background-md{
        background-color: transparent !important;
    }

    ion-item {
        border-radius: 30px !important;
        padding-left: 30px !important;
        font-size: 0.9em;
        margin-bottom: 10px;
        border: 1px solid #f32525;
        border-bottom: 0px !important;
        box-shadow: none !important;
    }

    .item-md.item-block .item-inner{
        border-bottom: 0px solid #dedede !important; 
    }

    input{
        border: 1px solid #f4f4f4 !important;
        border-radius: 15px !important;
        box-shadow: 3px 4px 7px 0px #9c9c9c !important;
        height: 30px !important;
        padding-left: 3% !important;
    }
    
    ion-label{
        color: #7DAFB0 !important;
    }

    ion-footer{
        height: 50px;
        background-color: #7DAFB0 !important;;
    }



}
