page-denunciar {

  ion-icon{
    vertical-align: sub;
    }

    #lista{
      font-size: 1.2rem;
  }

  .separar{
    margin-right: 5px !important;
  }

  .item-md {
    padding-left: 48px !important;
    padding-right: 40px !important;
  }

  #boton {
    padding-left: 48px !important;
    padding-right: 40px !important;
  }

    .main-view{
        background: transparent;
      }
      .overlay {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: .5;
        background-color: #575757;
      }
      .modal_content {
        position: absolute;
        top: calc(50% - (80%/2));
        left: 0;
        right: 0;
        width: 90%;
        height: 80%;
        z-index: 100;
        margin: 0 auto;
        color: #575757;
        background: white !important;
        background: -moz-linear-gradient(top, #fff 0%, #e8e8e8 100%);
        background: -webkit-linear-gradient(top, #fff 0%, #e8e8e8 100%);
        background: linear-gradient(to bottom, #fff 0%, #e8e8e8 100%);
        border-radius: 5px;
        box-shadow: 0 2px 3px rgba(51, 51, 51, .35);
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        overflow: hidden;
      }

      .rating{
        color: #7DAFB0 !important;
        padding: 1%;
        font-size: 150% !important;
    }

    .titulo{
      color: #7DAFB0  !important;
    }

    button{
      color: white !important;
    }

    #cerrar{
      color: #7DAFB0 !important;
    }

    .cols {
      display: flex;
      margin-top: -1%;
    }

    #enviar{
      background-color: #7DAFB0 !important;
              //border: 1px solid #f4f4f4 !important;
              border-radius: 15px !important;
              //box-shadow: 3px 4px 7px 0px #9c9c9c !important;
              height: 30px !important;
              color: white !important;
              padding-left: 3% !important;
              text-align: center !important;
    }



}

