page-home {

} 

.tabbar.show-tabbar{
    background-color: #13c1ac !important; 
}

.tab-button.has-title.has-icon{
    color: white !important;
}

.tab-button-icon.icon.icon-md.ion-md-search{
    color: white !important;
}

.tab-button-icon.icon.icon-md.ion-md-calendar{
    color: white !important;
}

.tab-button-icon.icon.icon-md.ion-md-add{
    color: white !important;
}

