// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;

@import "ionic.globals";

button{
  //background-color: #13c1ac !important; 
  color: white !important;
}

#icoConfiguracion{
  font-size: 200% !important;
}

#ajustes{
  margin-right: 6% !important;
}


.ion-item{
  background-color: white;
}

.toolbar-title-ios{
  color: white !important;
}

.toolbar-background-ios{
  background-color: #7DAFB0 !important;
}

.checkbox-md .checkbox-checked{
  background-color: #7DAFB0 !important;
  border-color: #7DAFB0 !important;
}

.toggle-md.toggle-checked .toggle-inner{
  background-color: #7DAFB0 !important; 

}

.alert-button.alert-button-md.alert-button-default.alert-button-default-md{
  background-color: #7DAFB0 !important; 
}

.toggle{
  color: #7DAFB0 !important; 
}


#guardarPaso2, #guardarPaso1{
  background-color: #7DAFB0 !important;
}


.segment-button{
  color:#7DAFB0 !important;
}

.segment-button.segment-activated{
  color:white !important;
  border-color: #7DAFB0 !important;
}

.searchbar-search-icon{
  color: white !important;
}

.toolbar-background.toolbar-background-md{
  background-color: white !important; 
}

.toolbar-title.toolbar-title-md{
  color: #7DAFB0 !important;
}

.rojo{
  background-color: #f53d3d !important;
}

.cards.card.card-md{
  width: 100% !important;
  margin: 0px !important;
}

#lista{
  background-color: white !important;
}

.scroll-content{
  //background-color: #E0E0E0 !important;
}

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
