<!--
  Generated template for the CntPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<template class="no-left-padding" #template let-showEventDetail="showEventDetail" let-selectedDate="selectedDate" let-noEventsLabel="noEventsLabel">
  <ion-list class="event-detail-container no-left-padding" has-bouncing="false" *ngIf="showEventDetail" overflow-scroll="false">
    <!--<ion-item class="no-left-padding" *ngFor="let event of selectedDate?.events" >  (click)="eventSelected(event)"-->
        <ion-card id="tarjeta" *ngFor="let evento of info; let last = last" class="no-left-padding">
            <ion-item>
                <ion-avatar item-start>
                  <img src="{{evento.imagen}}">
                </ion-avatar>
                <h2>{{evento.nombre}}</h2>
                <p>{{evento.horaInicio}} - {{evento.horaFinal}}</p>
                <button id="informacion" icon-left ion-button color="primary" (click)="detallesEvento(evento.id)"><ion-icon name="information-circle"></ion-icon>Ver</button>
                <button id="{{evento.id}}" [disabled]="comprobarApuntado(evento.id)" class="rojo" icon-left ion-button  (click)="permitirDesapuntar(evento.id)"><ion-icon name="trash"></ion-icon>Desapuntate</button>
              </ion-item>  
          </ion-card>
      <!-- </ion-item>-->
    <ion-item *ngIf="info?.length==0">
      <div class="no-events-label">No hay eventos</div>
    </ion-item>
  </ion-list>
</template> 

<ion-header>

<ion-navbar>
    <button ion-button [menuToggle]="menu1">
        <ion-icon name="menu"></ion-icon>
      </button>
  <ion-title class class="center">Mis Planes</ion-title>
  <ion-buttons right>
    <button style="color: #7DAFB0 !important;" ion-button icon-center clear large color="primary" (click)="ajsutes()">
        <ion-icon name="settings" large></ion-icon>
      </button> 
  </ion-buttons>
</ion-navbar>
<div>

<ion-segment [(ngModel)]="tusEventos">
  <ion-segment-button (click)="cargar()" value="Apt">
    Planes apuntados
  </ion-segment-button >
  <ion-segment-button value="tu">
    Tus planes
  </ion-segment-button>   
</ion-segment>
</div>
</ion-header>

<ion-content class="no-left-padding">
<div [ngSwitch]="tusEventos" >
<div *ngSwitchCase="'Apt'" style="height: 75%;">
    <div class="loading" *ngIf="!finalizado">
        <img src="assets/img/Loading.gif">
    </div>
  <ion-row ion-content >
        <ion-col col-4 center (click)="goToLastMonth()"><ion-icon name="arrow-back"></ion-icon></ion-col>
        <ion-col col-4 center>{{viewTitle}}</ion-col>
        <ion-col col-4 center (click)="goToNextMonth()"><ion-icon name="arrow-forward"></ion-icon></ion-col>
    </ion-row>
    <calendar *ngIf="listo" [locale]="es-ES"  [monthviewEventDetailTemplate]="template" [eventSource]="eventSource" [markDisabled]="markDisabled" [calendarMode]="calendar.mode"
     [currentDate]="calendar.currentDate" (onCurrentDateChanged)="onCurrentDateChanged($event)" (onEventSelected)="onEventSelected($event)"
     (onTitleChanged)="onViewTitleChanged($event)" (onTimeSelected)="onTimeSelected($event)" step="30">
    </calendar> 
    </div>
</div> 

<div [ngSwitch]="tusEventos">
<ion-list class="no-left-padding" *ngSwitchCase="'tu'" >
<ion-card *ngFor="let evento of eventosUser | async" class="no-left-padding">
    <ion-item>
        <ion-avatar item-start>
          <img src="{{evento.imagen}}">
        </ion-avatar>
        <h2>{{evento.nombre}}</h2>
        <p>{{evento.descripcion}}</p>
        <button id="ver" icon-left ion-button color="primary" (click)="detallesEvento(evento.id)"><ion-icon name="ios-paper-plane"></ion-icon>Ver</button>
        <button class="rojo" icon-left ion-button (click)="permitirEliminar(evento.id)" ><ion-icon name="trash" ></ion-icon>Eliminar</button>
      </ion-item>  
</ion-card>
</ion-list>
</div>

</ion-content>
