page-configuracion {

    .select-text{
        color: #7DAFB0 !important;
    }

    .filters {
        list-style: none;
        display: flex;
        flex-flow: row wrap;
  
        li {
           width: 12%;
             text-align: center;
        }
     }
     
     li {
        background: rgba(230, 230, 230,1 );
        padding: 1em;
          width: 31.75%;
          margin: 0.25em;
          text-align: center;}


        ion-item {
        border: 1px solid #7DAFB0 !important;
        border-radius: 10px !important;
        box-shadow: 3px 3px 7px 0px #9c9c9c !important;
        height: 25px !important;
        width: 98% !important;
        color: white !important;
        }
        
}

#map{
    margin:10px auto;
    box-shadow:0 3px 25px black;
}